
.root{
-fx-background-color: black;
-fx-font-family: 'Delicious';
}

.button{
/*-fx-pref-height:auto;
-fx-pref-width:auto;*/
-fx-font-size: 30px;
 -fx-text-fill: white;
 -fx-background-color: black;


}
 @font-face {
        font-family: Space Age;
        src: url('spaceage.ttf');
 }

.Title{
-fx-font-family: "Space Age";
-fx-pref-height:150px;
-fx-pref-width:400px;
-fx-font-size: 30px;
-fx-fill: white;
/*-fx-font-family: "OCR A Std", monospace;*/



}

.inGameInfo{
-fx-fill: white;
-fx-font-size: 15px;

}
